.App {
  text-align: center;

  min-height: 100vh;
  background-image: url("http://mdbootstrap.com/img/Photos/Others/images/91.jpg");
  background-repeat: no-repeat;
  background-color: rgb(155, 154, 154);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 6vmin;
  pointer-events: none;
  padding-bottom: 60px;
}

.App-header {
  color: darkblue;
  border-color: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.NavBar {
  /* position: fixed; */
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 2px;
  padding: 1px;
  width: 100%;
  overflow: hidden;
}
.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: rgb(73, 73, 73); */
}
.boxcenter {
  color: darkblue;
  margin: auto;
  width: 50%;
  padding: 10px;
  width: 32%;
}
.search {
  color: darkblue;

  width: 50%;
  padding: 10px;
}
.plates {
  padding: 20px;
  color: #61dafb;
  display: block;
}
.NavBar li {
  float: left;
}

.NavBar li a {
  display: block;
  color: darkblue;
  text-align: center;
  padding: 9px 9px;
  text-decoration: none;
}
li a:hover {
  background-color: lightgreen;
}

.App-link {
  color: darkblue;
}
table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  text-align: center;
  padding: 15px;
}
table.center {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 3px;
  color: darkblue;
}

tbody {
  display: table-row-group;
  vertical-align: center;
  border-color: inherit;
}
td a:hover {
  background-color: #c45231;
}
td a {
  color: darkblue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#error {
  border: 1px solid red;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
/* #button center{
  display: flex; 
 justify-content: center;
 margin-left:auto; 
margin: 0 0 1.25rem;
   position: relative;
   text-decoration: none;
   text-align: center;
}
.boxed{
 text-align: right;
  justify-content: center; 
} */

.LogoutButton {
  border: 0;
  padding: 0;
  font-family: inherit;
}
.uneven-end {
  float: center;
  width: 28%;
  margin: auto;
  font-size: 14px;
  color: darkblue;
  background-color: #21252b;
  text-align: center;
  border-width: 1px;
  border-radius: 2px;
}
/* .col3 {
  /* column-count: 3; */
/* column-rule: 1px solid grey; */
/* column-fill: auto; */
/* text-align: center; }*/

.column {
  margin: auto;
  font-size: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
